apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: diki-operator
  labels:
    app.kubernetes.io/name: diki-operator
    helm.sh/chart: diki-operator
    app.kubernetes.io/instance: {{ .Release.Name }}
rules:
- apiGroups:
  - "diki.gardener.cloud"
  resources:
  - complianceruns
  - complianceruns/status
  verbs:
  - get
  - list
  - watch
  - update
  - patch
  - delete
- apiGroups: 
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  - pods/exec
  verbs:
  - create
  - get
  - list
  - delete
  - watch
- apiGroups:
  - ""
  - events.k8s.io
  resources:
  - events
  verbs:
  - create
  - update
  - patch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - get
  - list
  - watch
  - update
  - patch
